/* Fonts
@import url('https://fonts.cdnfonts.com/css/charter-itc-tt');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/sf-mono'); */

/* @import url('../Styles/main.css'); */
/* @import url('../Styles/navigation.css');
@import url('../Styles/auth.css');
@import url('../Styles/create.css');
@import url('../Styles/TextEditor.css');
@import url('../Styles/home.css'); */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

a,
.link {
  text-decoration: none;
  color: inherit;
  width: inherit;
  height: inherit;
}

.btn {
  width: 325px;
  height: 44px;
  background-color: black;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  /* margin-top: 10px; */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  color: black;
}

.btnInverse {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btnInverse:hover {
  background-color: black;
  color: white;
}

.btnDanger {
  background-color: #ff0000 !important;
  color: white;
}

.btnSuccess {
  background-color: green;
  color: white;
}

.btnBlue {
  background-color: rgb(36, 135, 216);
  color: white;
}

.btnDisabled {
  width: 325px;
  height: 44px;
  background-color: #e0e0e0;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  /* margin-top: 10px; */
  cursor: pointer;
}

.bold {
  font-weight: bold;
  color: #929292;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Start Option Bar */
.optionBar {
  width: 100%;
  display: flex !important;
  flex-wrap: wrap;
  row-gap: 7px;
  column-gap: 10px;
  margin-top: 20px;
}

.optionBar .option {
  width: fit-content !important;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  /* // border-radius: 4px; */
  font-size: 13px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.optionBar .option:hover {
  color: #fff;
  background-color: #000000;
}
/* End Option Bar */
.loadMoreBtn {
  padding: 10px 19px;
  background: black;
  color: white;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
}

/* Start Article Card */
.articleCardContainer {
  padding-bottom: 45px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.articleCardContainer .articleCardHeader {
  display: flex;
  align-items: center;
  gap: 5px;
}
.articleCardContainer .articleCardHeader .authorAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: brown;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.articleCardContainer .articleCardHeader .authorName {
  font-size: 14px;
}
.articleCardContainer .articleDate {
  font-size: 12px;
  margin-left: 29px;
}
.articleCardContainer .articleCardBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articleCardContainer .articleCardBody .articleCardContent {
  width: 70%;
}
.articleCardContainer .articleCardBody .articleCardContent .articleCardTitle {
  font-family: var(--font-src-sans-pro);
  font-weight: 600;
  width: 90%;
  font-size: 20px;
  margin-top: 15px;
}
.articleCardContainer .articleCardBody .articleCardContent .articlecategories {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
.articleCardContainer
  .articleCardBody
  .articleCardContent
  .articlecategories
  span {
  cursor: pointer;
  padding: 4px 18px;
  border-radius: 9px;
  background: #f2f2f2;
  font-size: 80%;
}
.articleCardContainer .articleCardBody .articleCardContent .articleCardSummary {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 300;
  line-height: 25px;
}
.articleCardContainer .articleCardBody .articleCardCoverImage {
  width: 30%;
  width: 120px;
  height: 120px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.articleCardContainer .Mobilearticlecategories {
  display: none;
}
.articleCardContainer .articleFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.articleCardContainer .articleFooter .articleReadTime {
  font-family: 14px;
  color: #b3b3b3;
}
.articleCardContainer .articleFooter .footerActionBtn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.articleCardContainer .articleFooter .footerActionBtn span {
  color: #b3b3b3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.articleCardContainer .articleFooter .footerActionBtn span:hover {
  color: #8c8c8c;
}



/* End Article Card */

/* @media (max-width: 495px) {
    .articleCardContainer {
      border: none;
    }
    .articleCardContainer .articleCardBody {
      display: flex;
      flex-direction: column-reverse;
    }
    .articleCardContainer .articleCardBody .articleCardContent {
      width: 100% !important;
    }
    .articleCardContainer .articleCardBody .articleCardCoverImage {
      width: 100%;
      height: 200px;
      margin-top: 10px;
    }
  } */

@media (max-width: 495px) {
  .articleCardContainer {
    padding-bottom: 20px;
  }
  /* .articleCardContainer .articleCardBody {
      display: flex;
      flex-direction: column-reverse;
    } */
    .articleCardContainer .articleCardBody .articleCardContent {
      width: 80%;
    }
  .articleCardContainer .articleCardBody .articleCardContent .articleCardTitle {
    width: 100%;
    display: -webkit-box; /* For Safari and older versions of iOS */
    -webkit-line-clamp: 2; /* Limit the text to two lines */
    -webkit-box-orient: vertical; /* Set vertical orientation */
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis;
  }
  .articleCardContainer
    .articleCardBody
    .articleCardContent
    .articleCardSummary {
    display: none;
  }
  .articleCardContainer
  .articleCardBody
  .articleCardContent
  .articlecategories {
    display: none;
 font-size: 12px;
}
.articleCardContainer .Mobilearticlecategories {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.articleCardContainer .Mobilearticlecategories span {
  cursor: pointer;
  padding: 4px 18px;
  border-radius: 9px;
  background: #f2f2f2;
  font-size: 13px;
}
  .articleCardContainer .articleCardBody .articleCardCoverImage {
    /* background: green !important; */
    width: 70px;
    height: 70px;
  }

  .optionBar {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
}
