/* Fonts
@import url('https://fonts.cdnfonts.com/css/charter-itc-tt');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/sf-mono'); */

/* @import url('../Styles/main.css'); */
/* @import url('../Styles/navigation.css');
@import url('../Styles/auth.css');
@import url('../Styles/create.css');
@import url('../Styles/TextEditor.css');
@import url('../Styles/home.css'); */

*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    width: inherit;
    height: inherit;
}

.btn {
    width: 325px;
    height: 44px;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    /* margin-top: 10px; */
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.btn:hover {
    background-color: transparent;
    color: black;
}

.btnInverse {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btnInverse:hover {
    background-color: black;
    color: white;
}

.btnDanger {
    background-color: #ff0000 !important;
    color: white;
}

.btnSuccess {
    background-color: green;
    color: white;
}

.btnBlue {
    background-color: rgb(36, 135, 216);
    color: white;
}

.btnDisabled {
    width: 325px;
    height: 44px;
    background-color: #e0e0e0;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    /* margin-top: 10px; */
    cursor: pointer;
}

.bold {
    font-weight: bold;
    color: #929292;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
