* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.mainContainer .articleFeed {
  width: 60%;
}
.mainContainer .feedSidebar {
  width: 30%;
  height: auto;
  border-left: 1px solid #e8e8e8;
  padding-left: 25px;
}

.homepageShowcaseContainer {
  width: 100%;
  height: 70vh;
  margin-top: 10vh;
  margin-bottom: 8vh;
  padding: 25px 0px;
}
.homepageShowcaseContainer .showcaseHeading {
  text-align: center;
  font-size: 90px;
  font-family: var(--font-charter-itc) !important;
  font-weight: 300;
}
.homepageShowcaseContainer .showcaseBannerImg {
  width: 100%;
  height: 500px;
  background: url("/images/showcaseBanner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.homepageShowcaseContainer .showcaseMessage {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.homepageShowcaseContainer .showcaseBtn {
  display: block;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 10px 29px;
  background-color: transparent;
  border: 1px solid #000000;
  color: black;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.homepageShowcaseContainer .showcaseBtn:hover {
  background-color: #000000;
  color: white;
}

.homepageTrendingContainer {
  background-color: black;
  min-height: 50vh;
  height: auto;
  color: #fff;
  font-family: var(--font-src-sans-pro);
  padding: 40px 0px;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper {
  width: 70%;
  margin: 0 auto;
  height: 100%;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .header .headerTexts h2 {
  font-size: 40px;
  font-weight: 400;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .header .headerTexts p {
  font-size: 14px;
  margin-top: 5px;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .header .headerBtn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .trends {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .trends .trend {
  width: 400px;
  height: auto;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .trends .trend .trendRank {
  font-size: 20px;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .trends .trend .trendRank span {
  color: #ccc;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .trends .trend .trendArticleAuthor {
  width: 1005;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .trends .trend .trendArticleAuthor .authorAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: red;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .trends .trend .trendArticleAuthor .authorName {
  font-size: 16px;
  font-weight: 300;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .trends .trend .articleTitle {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 10px;
}
.homepageTrendingContainer .homepageTrendingContainerWrapper .trends .trend .articleDateandReadTime {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #ccc;
}

.recentArticlesContainer {
  width: 100%;
  margin: 0 auto;
}
.recentArticlesContainer .header {
  font-family: var(--font-src-sans-pro) !important;
}
.recentArticlesContainer .header h3 {
  font-size: 28px;
  font-weight: 400;
}
.recentArticlesContainer .header p {
  font-size: 14px;
  color: #ccc;
}
.recentArticlesContainer .topicsBar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 20px;
}
.recentArticlesContainer .topicsBar .topic {
  padding: 10px 22px;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.recentArticlesContainer .topicsBar .topic:hover {
  color: #fff;
  background-color: #000000;
}
.recentArticlesContainer .seeMoreTopics {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
  padding: 6px 14px;
  background: #ccc;
  color: black;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.recentArticlesContainer .articleCardContainer {
  padding-bottom: 45px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.recentArticlesContainer .articleCardContainer .articleCardHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}
.recentArticlesContainer .articleCardContainer .articleCardHeader .authorAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: brown;
}
.recentArticlesContainer .articleCardContainer .articleCardHeader .authorName {
  font-size: 14px;
}
.recentArticlesContainer .articleCardContainer .articleCardHeader .articleDate {
  font-size: 14px;
}
.recentArticlesContainer .articleCardContainer .articleCardBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recentArticlesContainer .articleCardContainer .articleCardBody .articleCardContent {
  width: 70%;
}
.recentArticlesContainer .articleCardContainer .articleCardBody .articleCardContent .articleCardTitle {
  font-family: var(--font-src-sans-pro);
  font-weight: 600;
  width: 90%;
  font-size: 20px;
  margin-top: 15px;
}
.recentArticlesContainer .articleCardContainer .articleCardBody .articleCardContent .articlecategories {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
.recentArticlesContainer .articleCardContainer .articleCardBody .articleCardContent .articlecategories span {
  cursor: pointer;
  padding: 4px 18px;
  border-radius: 9px;
  background: #f2f2f2;
  font-size: 13px;
}
.recentArticlesContainer .articleCardContainer .articleCardBody .articleCardContent .articleCardSummary {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 300;
  line-height: 25px;
}
.recentArticlesContainer .articleCardContainer .articleCardBody .articleCardCoverImage {
  width: 30%;
  width: 80px;
  height: 80px;
  background: peachpuff;
}
.recentArticlesContainer .articleCardContainer .articleFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.recentArticlesContainer .articleCardContainer .articleFooter .articleReadTime {
  font-family: 14px;
  color: #b3b3b3;
}
.recentArticlesContainer .articleCardContainer .articleFooter .footerActionBtn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.recentArticlesContainer .articleCardContainer .articleFooter .footerActionBtn span {
  color: #b3b3b3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.recentArticlesContainer .articleCardContainer .articleFooter .footerActionBtn span:hover {
  color: #8c8c8c;
}

.articleShowcaseContainer {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: url("https://scriblo.s3.us-east-2.amazonaws.com/drafts/hello-this-is-levi_0.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.articleShowcaseContainer .artileContent {
  width: inherit;
  height: inherit;
  position: absolute;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.732), rgba(0, 0, 0, 0.167));
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.articleShowcaseContainer .artileContent h1, .articleShowcaseContainer .artileContent p, .articleShowcaseContainer .artileContent span {
  margin-left: 20px;
  cursor: pointer;
}
.articleShowcaseContainer .artileContent span {
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
}
.articleShowcaseContainer .artileContent h1 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 15px;
}

.recommendedTopicsContainer {
  width: 100%;
  height: auto;
}
.recommendedTopicsContainer h4 {
  font-weight: 500;
}
.recommendedTopicsContainer .recTopics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 15px;
}
.recommendedTopicsContainer .recTopics .recTopic {
  padding: 8px 20px;
  border-radius: 10px;
  background: #f2f2f2;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.recommendedTopicsContainer .recTopics .recTopic:hover {
  background: #e5e5e5;
}
.recommendedTopicsContainer span {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  color: purple;
  cursor: pointer;
}

.promoteScribloContainer {
  width: 100%;
  height: auto;
}
.promoteScribloContainer .scribloBanner {
  width: 100%;
  height: 200px;
  background: url("https://scriblo.s3.us-east-2.amazonaws.com/branding/logoBanner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.promoteScribloContainer h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.promoteScribloContainer p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
}
.promoteScribloContainer button {
  padding: 6px 18px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 15px;
  background: #000;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.promoteScribloContainer button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #d6d6d6;
}/*# sourceMappingURL=home.css.map */