.popupContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.119);
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;

  .popupcloserdiv {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: transparent;
  }

  .popupContent {
    z-index: 200;

    .editProfilePopup {
      width: 600px;
      height: auto;
      background-color: white;
      border-radius: 5px;
      padding: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      .popupHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        h3 {
          font-weight: 500;
        }

        span {
          cursor: pointer;
        }
      }

      .updatePhoto {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;

        .currentProfilePhoto {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-position: center !important;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          cursor: pointer;
        }

        .photoActions {
          display: flex;
          gap: 20px;

          span {
            cursor: pointer;
            color: purple;
            &:last-child {
              color: red;
            }
          }
        }
      }

      .updateField {
        font-size: 14px;
        margin-bottom: 20px;
        span {
          display: block;
        }

        input,
        textarea {
          width: 100%;
          height: 30px;
          border: none;
          border-bottom: 1px solid #e9e9e9;
          margin-top: 10px;
          // padding-left: 5px;

          &:focus {
            outline: none;
          }
        }

        textarea {
          height: 60px;
          font-family: inherit !important;
        }

        small {
          margin-top: 5px;
          color: #4a4a4a77;
          display: block;
        }
      }

      .updateProfileBtns {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        button {
          padding: 10px 25px;
          border-radius: 20px;
          background-color: transparent;
          cursor: pointer;
        }

        .cancel {
          border: 2px solid red;
        }

        .save {
          border: 2px solid transparent;
          background: purple;
          color: white;

          &:hover {
            background-color: rgb(105, 1, 105);
          }
        }
      }
    }

    .previewCodeUrlPopup {
        border-radius: 30px;
      .previewCodeUrlTitle {
        font-weight: bold;
        font-size: 40px;
        color: #353535 !important;
        text-align: center;
      }

      p {
        text-align: center;
        font-size: 16px;
        margin: 5px 0px;
      }

      .previewCodeText {
        display: block;
        margin-top: 20px;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 3px;
      }

      .previewCode {
        display: block;
        width: fit-content;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        background: rgb(244, 244, 244);
        margin: 0 auto;
        padding: 15px;
        letter-spacing: 15px;
        border-radius: 30px;
      }

      .previewLink {
        display: block;
        text-align: center;
        margin: 0 auto;
        border-radius: 10px;
        text-overflow: ellipsis;
        background-color: rgb(232, 232, 232);
        width: 200px;
        padding: 5px 18px;
        white-space: nowrap; /* Prevent line breaks */
        overflow: hidden; /* Hide any overflowing content */
        text-overflow: ellipsis;
        // display: flex;
        // align-items: center;
        gap: 5px;
        margin-top: 20px;
        cursor: pointer;
      }

      small {
        margin-top: 15px;
        display: block;
        text-align: center;
        font-style: italic;
        color: #191919;
      }

      .previewCodeUrlBtns {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        button {
            width: 150px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
        }

        .cancelBtn {
            background-color: red;
        }
      }
    }

    .followsContainer {
      background: rgb(183, 183, 183);
      width: 500px;
      height: 400px;
      border-radius: 10px;
    }
  }
}

@media (max-width: 700px) {
  .popupContainer {
    .popupContent {
      width: 100%;
      .editProfilePopup {
        margin: 0 auto;
        width: 90%;
      }
    }
  }
}
