$cover-height: 200px ;
$profile-Avatar-offset: 40px;

.profileContainer {
  width: 100%;
  min-height: 92vh;
  margin-top: 9vh;
  position: relative;

  .profileContainerWrapper {
    width: 70%;
  margin: 0 auto;
  }

  h3 {
    font-size: 35px;
    font-weight: 400;
    color: rgb(41, 41, 41);
  }
}

.profileHeadCardContainer {
  width: 100%;
//   position: relative;

  .profileCoverImage {
    width: 100%;
    height: $cover-height;
    background: url('https://scriblo.s3.us-east-2.amazonaws.com/branding/default_cover.png');
    background-position: center !important;
    background-size: 60% !important;
    background-repeat: no-repeat !important;
    background-color: #EDEBE6;
    position: relative;

    .overlay {
        width: inherit;
        height: $cover-height;
        position: absolute;
        // background: #68646428;
    }

    &:hover {
        .changeCoverInput {
            width: inherit;
            height: $cover-height;
            position: absolute;
            background: #08080876;
            display: flex !important;
            justify-content: center;
            align-items: center;
            font-size: 32px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
    }


  }

  .profileAvatar {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    position: absolute;
    background: brown;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    top: calc($cover-height - $profile-Avatar-offset);
    margin-left: 40px;
    border: 5px solid white;
  }

  .profileInfo {
    margin-top: 6em;
    padding: 0px 40px;

    .profileIcon {
        font-size: 18px;
    }

    .profileNameAndFollowBtn {
        display: flex;
        gap: 50px;
        align-items: center;
        h3 {
            font-size: 42px;
            gap: 5px;
            display: flex;
            align-items: center;
        }

        .followAndEmailBtn {
            display: flex;
            gap: 20px;
            .btn {
                width: 120px;
                height: 35px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                font-size: 14px;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }

            .emailBtn {
                background-color: transparent;
                border: 1px solid #7d7d7d;
                color: black;
            }
        }


    }

    .username {
        text-decoration: underline;
        @media (max-width: 495px) {
        display: block;
        margin-top: 15px;
          }

    }

    .follows {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        color: #4c4c4c;
    }

    .profileBio {
        width: 400px;
        margin-top: 10px;
        font-size: 14px;
        line-height: 25px;
    }

    .profileDateAndUrl {
        display: flex;
        gap: 30px;
        margin-top: 10px;
        span {
            display: flex;
            align-items: center;
            font-size: 14px;
            gap: 10px;
            color: #636363;

            &:last-child {

            cursor: pointer;

            &:hover {
                color: black;
            }
            }
        }
    }

    .profileInterests {
        margin-top: 10px;
        display: flex;
        gap: 15px;

        span {
            display: block;
            padding: 8px 16px;
            border-radius: 10px;
            background: #ededed;
        }
    }
  }
}

.profilePinnedArticlesContainer {

    h3 {
        font-size: 35px;
        font-weight: 400;
        color: rgb(41, 41, 41);

        .pinIcon {
            transform: rotate(45deg);
            font-size: 28px;
        }
    }
}
.followsOverlayCloser {
    position: absolute;
    background: rgba(2, 2, 2, 0.287);
    width: 100%;
    height: 100%;
    z-index: 199;
}
.followsContainer {
    position: absolute;
    background: white;
    width: 350px;
    height: 500px;
    z-index: 200;
    top: 30%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // overflow-y: scroll;

    .followsHeader {
        width: 100%;
        border-bottom: 1px solid #cccccc87;
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: center;

        .headerText {
            width: 90%;
            font-size: 18px;
            text-align: center;
        }

        .closeFollows {
            // display: block;
            font-weight: bolder;
            padding: 5px;
            width: 10%;
            margin-left: auto;
        }
    }

    .followWrapper {
        height: calc(100% - 40px);
        overflow-y: scroll;
    }

    .followItem {
        width: auto;
        // background: green;
        display: flex;
        gap: 15px;
        margin: 10px 10px;
        align-items: center;
        margin-bottom: 20px;

        .followAvatar {
            width: 50px;
            height: 50px; 
            border-radius: 50%;
            background-color: brown;
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            border: 1px solid black;
        }

        .followInfo {
            .followName {
                display: block;
                font-size: 18px;
                font-weight: bold;
                display: flex;
                align-items: center;
                gap: 5px;
            }
            .followUsername {
                display: block;
                font-size: 16px;
            }
        }

        .followActionBtn {
            width: 100px;
            height: 30px;
            background: black;
            color: white;
            border: none;
            margin-left: auto;
            font-size: 16px;
            cursor: pointer;
        }
    }

}



@media (max-width: 700px) {
    .profileContainer {
        .profileContainerWrapper {
            width: 100% !important;
        }

        .profileHeadCardContainer {
            .profileCoverImage {
                background-size: 120% !important;
            }
        }
        .profileInfo {
            .profileNameAndFollowBtn {
                h3 {
                    font-size: 8vw;
                }
                flex-wrap: wrap;
                row-gap: 18px;
            }
        }
    }
}


@media (max-width: 488px) {
    .profileContainer {
       .profileInfo {

        .profileBio {
            width: 100%;
        }
       }
    }
}

@media (max-width: 400px) {
    .profileContainer {
       .profileInfo {

        .profileDateAndUrl {
            span {
                // font-size: 13px;
            }
        }

        .profileInterests {

            span {
                font-size: 13px;
            }
        }
       }
    }

    .followsContainer {
        width: 90% !important;
    }
}