.profileContainer {
  width: 70%;
  min-height: 92vh;
  margin: 0 auto;
  margin-top: 9vh;
  position: relative;
}

.profileContainer h3 {
  font-size: 35px;
  font-weight: 400;
  color: #292929;
}

.profileHeadCardContainer {
  width: 100%;
}

.profileHeadCardContainer .profileCoverImage {
  width: 100%;
  height: 200px;
  background: url("https://scriblo.s3.us-east-2.amazonaws.com/branding/default_cover.png");
  background-position: center !important;
  background-size: contain !important;
  position: relative;
}

.profileHeadCardContainer .profileCoverImage .overlay {
  width: inherit;
  height: 200px;
  position: absolute;
  background: #68646428;
}

.profileHeadCardContainer .profileCoverImage:hover .changeCoverInput {
  width: inherit;
  height: 200px;
  position: absolute;
  background: #08080876;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.profileHeadCardContainer .profileAvatar {
  width: 7.5em;
  height: 7.5em;
  border-radius: 50%;
  position: absolute;
  background: brown;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  top: calc($cover-height - $profile-Avatar-offset);
  margin-left: 40px;
  border: 5px solid white;
}

.profileHeadCardContainer .profileInfo {
  margin-top: 6em;
  padding: 0px 40px;
}

.profileHeadCardContainer .profileInfo .profileIcon {
  font-size: 18px;
}

.profileHeadCardContainer .profileInfo .profileNameAndFollowBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileHeadCardContainer .profileInfo .profileNameAndFollowBtn h3 {
  font-size: 42px;
}

.profileHeadCardContainer .profileInfo .profileNameAndFollowBtn .followAndEmailBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.profileHeadCardContainer .profileInfo .profileNameAndFollowBtn .followAndEmailBtn .btn {
  width: 120px;
  height: 35px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 14px;
}

.profileHeadCardContainer .profileInfo .profileNameAndFollowBtn .followAndEmailBtn .btn:hover {
  background-color: black;
  color: white;
}

.profileHeadCardContainer .profileInfo .profileNameAndFollowBtn .followAndEmailBtn .emailBtn {
  background-color: transparent;
  border: 1px solid #7d7d7d;
  color: black;
}

.profileHeadCardContainer .profileInfo .follows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-top: 20px;
  color: #4c4c4c;
}

.profileHeadCardContainer .profileInfo .profileBio {
  width: 400px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 25px;
}

.profileHeadCardContainer .profileInfo .profileDateAndUrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.profileHeadCardContainer .profileInfo .profileDateAndUrl span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  gap: 10px;
  color: #636363;
}

.profileHeadCardContainer .profileInfo .profileDateAndUrl span:last-child {
  cursor: pointer;
}

.profileHeadCardContainer .profileInfo .profileDateAndUrl span:last-child:hover {
  color: black;
}

.profileHeadCardContainer .profileInfo .profileInterests {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.profileHeadCardContainer .profileInfo .profileInterests span {
  padding: 8px 16px;
  border-radius: 10px;
  background: #ededed;
}

.profilePinnedArticlesContainer h3 {
  font-size: 35px;
  font-weight: 400;
  color: #292929;
}

.profilePinnedArticlesContainer h3 .pinIcon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 28px;
}
/*# sourceMappingURL=profile.css.map */