.settingsContainer {
  margin-top: 8vh;

  .settingsWrapper {
    width: 40%;
    margin: 0 auto;
    padding-top: 4vh;
    font-size: 14px;

    .settingsHeaderText {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 2vh;
    }

    .SettingsTabs {
      width: 100%;
      border-bottom: 1px solid #e9e9e9;
      display: flex;
      gap: 20px;
      .settingsTab {
        cursor: pointer;
        padding: 10px 0px;
        border-bottom: 2px solid transparent;
        &:hover {
          border-bottom: 2px solid #e9e9e9;
        }
      }
      .activeTab {
        border-bottom: 1px solid #000;
        &:hover {
          border-bottom: 1px solid #000;
        }
      }
    }

    .settingsContent {
      margin-top: 25px;

      .accountField {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;

        &:hover {
            span {
                color: #000 !important;
            }
        }

        span {
            font-weight: 400;
            color: #3a3a3a;
          &:last-child {
            color: #777777;
          }
        }
      }

      .deleteAccount {
        cursor: pointer;
        span {
            display: block;
            color: rgb(222, 56, 56);
        }
        small {
            color: #777777;
        }
      }
    }
  }
}

@media (max-width: 900px) {

.settingsContainer {
  .settingsWrapper {
    width: 60%;
  }
}
}

@media (max-width: 600px) {

  .settingsContainer {
    .settingsWrapper {
      width: 90%;
    }
  }
  }
