.editorToolbar {
  // position: sticky !important;
  // top: 0 !important;
  // z-index: 1 !important;
  // background-color: #f8f8f8 !important;
  // padding: 10px 0 !important;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.editorPopups {
  position: absolute !important;
  left: -250px !important; 
  top: 50px !important;
}

.editorEmoji {
  display: none !important;
}


.editorWrapper {
    min-height: 100vh !important;

    .editorMain{
        min-height: inherit !important;
         font-family: 'Charter ITC TT', sans-serif;

        img {
            width: 100% !important;
            height: 300px !important;
            object-fit: contain !important;
            object-position: top !important;
            display: block;
            margin: 0 auto;
        }
        iframe {
            height: auto !important;
            width: auto !important;
            overflow-y: hidden !important;
            display: block;
            margin: 0 auto;  
            &[src*="youtube.com"], 
            &[src*="youtu.be"] {
                width: 100% !important;
                height: auto !important;
            }
          
            &[src*="vimeo.com"] {
              width: 640px !important;
                height: 360px !important;
            }
          
            &[src*="twitter.com"] {
              min-width: 230px !important;
              min-height: 550px !important;
            }
          
            &[src*="facebook.com"] {
              width: auto !important;
              height: auto !important;
            }
          
            &[src*="instagram.com"] {
              width: 320px !important;
              height: 700px !important;
            }
        }

        b {
          color: black !important;
        }
        color: rgb(98, 98, 98);

        
    }



}