.verificationContainer {
  width: 30%;
  // background: red;
  margin: 0 auto;
  margin-top: 10vh;

  // h3 {
  //     text-align: center;
  //     font-size: 28px;
  // }

  .confirmImage{ 
    text-align: center;
    font-size: 80px;
  }
  .error {
    font-size: 15px;
    text-align: center;
    color: red;
  }

  h1,
  p {
    text-align: center;
  }

  p {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.712);
  }

  .field {
    display: block;
    margin-bottom: 15px;

    span {
      display: block;
      font-size: 15px;
      margin-bottom: 5px;
      font-weight: 500;
    }

    sup {
      font-weight: bold;
      color: red;
    }

    input {
      width:  calc(100% - 20px);
      padding: 10px;
      border: 1px solid #cccccca1;
      border-radius: 5px;
    }

    textarea {
        padding: 10px;
        width:  calc(100% - 20px);
      height: 80px;
      border: 1px solid #cccccca1;
      border-radius: 5px;
    }

    small {
      color: rgba(0, 0, 0, 0.542);
    }
  }

  button {
    width: 100%;
    padding: 15px 0px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.87);
    }
  }
}

@media (max-width: 1152px) {
    .verificationContainer {
        width: 50%;
    }
}

@media (max-width: 783px) {
    .verificationContainer {
        width: 70%;
    }
}

@media (max-width: 562px) {
    .verificationContainer {
        h1 {
            font-size: 28px;
        }

         p {
            font-size: 14px;
            margin-top: 5px;
         }
        width: 90%;
    }
}
